a {text-decoration: none}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}


body {
	background-color: #C1FE8F;
	margin:0px;
	padding: 0px;
}
#container{
	background-color: #FFFFFF;
	width: 960px;
	min-height: 400px;
	height: auto;
	margin: 0px auto;
	padding: 5px;
	overflow: hidden;
}
header {
	text-align: center;
	padding: 10px;
	background-color: #468104; 
	color: #FFFFFF;
}
footer {
	text-align: center;
	padding: 5px;
/*	padding: 10px;*/
	background-color: #BDA6FB;
/*	color: #FFFFFF;		*/
/*	border: 1px solid blue;*/
	clear: both;
	height: 40px;
}
nav {
	
	padding: 10px;
	width: 250px;
	height: auto;
	float: left;
}
nav ul li {
	margin: 10px 10px;
	padding: 5px auto 3px auto;
	border-bottom:0.5px solid #8258FA;
}
section {
	padding: 10px;
	width: auto;
	height: auto;
	float: left;
}
article {
	width: 630px;
	padding: 5px;
	margin: 5px;
}
h1 {
	font-size: 30px;
}
.esqred {
	-webkit-border-radius:  7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border:1px solid #555555;
}
