body {
	background-color: #CEE3F6;
	margin:0px;
	padding: 0px;
}
#container{
	background-color: #FFFFFF;
	width: 960px;
	height: 700px;
	margin: 0px auto;
	padding: 5px;
	overflow: hidden;
}
header {
	text-align: center;
	padding: 10px;
	background-color: #8258FA;
	color: #FFFFFF;
}
nav {
	padding: 10px;
	width: 200px;
	height: auto;
	float: left;
}
section {
	padding: 10px;
	width: auto;
	height: auto;
	float: left;
}
article {
	width: 500px;
	padding: 5px;
	margin: 5px;
}
h1 {
	font-size: 30px;
}
.esqred {
	-webkit-border-radius:  7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border:1px solid #555555;
}
