{% extends "web/layout.html" %}
{%block muro %}	
	
	<div><p>Formulario de registro nuevos usuarios</p></div>
	<div>
    		<div id="form">
    			<h3 style="float:left; width: 200px;">LLena el siguiente formulario para crear una cuenta.</h3>
		    	<div style="float: left; width: 300px;">
		    	<form name="Apuntes" action="" method="POST" >
			    	{% csrf_token %}
			    	<table>{{ formulario }}
			    	<tr ><td></td><td><input type="submit" name="submit" id="id_submit" class="submit"/></td></tr>
			    	</table>
		    	</form>
		    	</div>
	    	</div>
    </div>
{% endblock%}