{% extends "web/base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}web.com/css.css" />{% endblock %}
{% block jslink %}<script src="http://web.com/web/js/libs/modernizr-2.0.6.min.js"></script>{% endblock %}
{%block body%}

	<article class="esqred"><p>Apuntes personales de diferentes temas. principalmente de programacion en python y django.</p></article>
	<article class="esqred"><p>Tambien puede tener apuntes personales de direcciones que deba guardar para tener acceso desde cualquier parte </p></article>
	<article class="esqred"><p>
		<pre class="brush: css">
			body {
					background-color: blue;
					width: 300px;
				}
		</pre> </p></article>
	<article class="esqred"><p>Bueno, al parecer con esto ya puedo comenzar a trabajar, jeje </p></article>

{% endblock%}