{% extends "web/layout.html" %}

{% block style %} 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}web/css/home.css" />
{% endblock %}

{% block muro %}
	<header class="esqred6">
		<h2>{{ msj }}</h2>
	    <h2>
	        Ultimos Apuntes agregados
	    </h2>
	</header>
	{% for apunte in apuntes %}
	<article class="esqred6" style="overflow:hidden">
	    <div class="img_apunte link_negros"> 
	        <img src="{{ STATIC_PREFIX }}web/img/default.png" width="50" height="50"/>
	        <h4><a href="#">edwinfmesa</a></h4>
	    </div>
	    <div class="intro_apunte">
	        <h3 class="link_negros"><a href="#">{{ apunte.titulo|truncatechars:20 }}</a></h3>  
	        <span class="fecha">{{ apunte.fecha }}</span>
	        <div class="des_apunte">
	            <p class="link_negros">
	                Categoria: <a href="#">instalaciones</a><br />
	                Grupo: <a href="#">Mi grupo</a>
	            </p>
	        </div>
	        <nav>
	            <span class="tipo_apunte esqred4 link_blanco" ><a href="#">Compartir</a></span>
	            <span class="tipo_apunte esqred4 link_blanco" ><a href="#">Calificar</a></span>
	            <span class="tipo_apunte esqred4 link_blanco" ><a href="#">ver</a></span>
	        </nav>
	    </div>
	</article>
	{% endfor %}
{% endblock %}
